.bg-detailBerita {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-detailBeritaOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: -1;
}

.text-highlight {
  background: linear-gradient(180deg, rgba(214, 12, 12, 0) 65%, #f7803c 65%);
  display: inline;
}
